# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/


#recycle folder
recycle/

# IDE / Editor files
.vscode/
*.sublime-project
*.sublime-workspace


# Logs
*.log

# OS files
.DS_Store
Thumbs.db
